<dogs-app-auth-card title="Forgot Password">
  <div *ngIf="forgotPasswordFormError" class="alert alert-danger mt-4">
    Incorrect e-mail format.
  </div>

  <form
    *ngIf="!formSubmitted; else successMessageTemplate"
    (submit)="onSubmit()"
    [formGroup]="forgotPasswordForm"
  >
    <div class="mb-3">
      <label class="mb-2 text-muted" for="email">E-Mail Address</label>
      <input
        type="text"
        class="form-control"
        placeholder="Enter your email"
        formControlName="email"
      />
    </div>

    <div class="d-flex align-items-center">
      <a (click)="navigateToLogin()" class="cursor-pointer">
        Go back to Login
      </a>
      <button type="submit" class="btn btn-primary ms-auto">Send Link</button>
    </div>
  </form>
</dogs-app-auth-card>

<ng-template #successMessageTemplate>
  <div class="d-flex flex-column align-items-center">
    <div class="alert alert-success w-100">Email was sent!</div>
    <a (click)="navigateToLogin()" class="cursor-pointer">Go to Login page</a>
  </div>
</ng-template>
